.header__nav {
  min-height: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 65%;
  margin-left: 3px;
}

.header__menu-link {
  color: $color-black-light;
  margin-left: 40px;
}

.header__contacts {
  position: relative;
  margin-right: 3px;
  margin-left: 40px;
  margin-top: 3px;
  width: 200px;
}

.header__contacts::before {
  content: "";
  background-image: url("../../img/icon-phoneblack.svg");
  position: absolute;
  width: 18px;
  height: 25px;
  left: -32px;
  bottom: 2px;
  background-repeat: no-repeat;
}

.header__phone {
  color: $color-black-light;
  font-size: 18px;
  line-height: 32px;
}

.header__phone::before {
  content: "";
  position: absolute;
  width: 187px;
  height: 1px;
  background-color: $color-black-light;
  bottom: 7px;
}

.header__toggle {
  display: none;
}

.header__preview {
  min-height: 860px;
  max-width: 1920px;
  padding-top: 185px;
  color: $color-white;
  background-image: url("../../img/desktop-header-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/desktop-header-photo@2x.jpg");
  }
}

.header__wrapper {
  max-width: 420px;
  margin-left: auto;
  margin-right: 65px;
}

.header__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  letter-spacing: -1.1px;
}

.header__text {
  max-width: 380px;
  font-size: 16px;
  line-height: 27px;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  letter-spacing: -0.46px;
}

.header__button {
  position: relative;
  display: flex;
  align-items: center;
  width: 340px;
  min-height: 75px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  padding-left: 40px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-orange;
}

.header__button::before {
  content: "";
  background-image: url("../../img/icon-arrow-right.svg");
  position: absolute;
  width: 17px;
  height: 17px;
  right: 38px;
  // bottom: 2px;
  background-repeat: no-repeat;
}
