.navigation-countries {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 95px;

  @media (max-width: $tablet-width-max) {
    margin-top: 93px;
    padding-right: 0;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 32px;
  }
}

.navigation-countries__list {
  display: flex;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid $color-grey-light-opacity;
  min-height: 40px;
  max-width: 900px;

  @media (max-width: $tablet-width-max) {
    max-width: 1024px;
    margin-left: 22px;
  }

  @media (max-width: $mobile-width-max) {
    margin-left: 0;
  }
}

.navigation-countries__item {
  padding-right: 99px;
}

.navigation-countries__item:nth-child(5) {
  padding-right: 0;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.navigation-countries__item:nth-child(4) {
  @media (max-width: $tablet-width-max) {
    padding-right: 0;
  }
}

.navigation-countries__item:nth-child(3),
.navigation-countries__item:nth-child(4) {
  @media (max-width: $mobile-width-max) {
    display: none;
  }
}

.navigation-countries__item:nth-child(2) {
  @media (max-width: $mobile-width-max) {
    padding-right: 0;
  }
}

.navigation-countries__link {
  color: $color-grey-light-opacity;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.41px;
}

.navigation-countries__link--active {
  color: $color-orange;
}
